**3. Data Cleaning**

In [1]:
import pandas as pd
import numpy as np
import re
import pickle

In [2]:
with open('surfing_dict.pickle', 'rb') as f:
    surfing_dict = pickle.load(f)

In [3]:
#read the excel file in a variable called shark_attacks
shark_attacks = pd.read_excel(r'C:\Users\PC\Desktop\Ironhack\WR_Ironhack_Projects\Shark-Attack\GSAF5.xls')

#display the dataframe
shark_attacks

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Species,Investigator or Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,25-Mar-2023,2023.0,Unprovoked,USA,Florida,"Blue Fish Channel, Key West, Monroe County",Kite-Surfing,Kevin Carlton Scott,M,67,...,NaN,"Yahoo News, 3/28/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,22-Mar-2023,2023.0,Unprovoked,AUSTRALIA,Western Australia,Delta Island,Wading,Adam Norton,M,30s,...,NaN,"A. Currie, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19-Mar-2023,2023.0,Unprovoked,USA,Hawaii,Anaehoomalu Bay,Swimming,male,M,60,...,NaN,"Khon2, 3/19/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,17-Mar-2023,2023.0,Unprovoked,MEXICO,Quintana Roo,Canc√∫n,Swimming,Dillon Armijo,M,10,...,NaN,"Denver7, 3/29/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,16-Mar-2023,2023.0,Unprovoked,AUSTRALIA,Western Australia,Cheynes Beach,Surf-sking,female,F,NaN,...,5m to 6m shark,"B. Myatt, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6861,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

Originally 6865 rows √ó 23 columns

In [4]:
#check infos about 
#check for null columns
shark_attacks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6865 entries, 0 to 6864
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    6840 non-null   object
 1   Year                    6838 non-null   float64
 2   Type                    6820 non-null   object
 3   Country                 6790 non-null   object
 4   Area                    6362 non-null   object
 5   Location                6279 non-null   object
 6   Activity                6257 non-null   object
 7   Name                    6621 non-null   object
 8   Sex                     6263 non-null   object
 9   Age                     3869 non-null   object
 10  Injury                  6805 non-null   object
 11  Fatal (Y/N)             6282 non-null   object
 12  Time                    3339 non-null   object
 13  Species                 3757 non-null   object
 14  Investigator or Source  6821 non-null   object
 15  pdf                     6799 non-null   object
 16  href formula            6819 non-null   object
 17  href                    6796 non-null   object
 18  Case Number             6798 non-null   object
 19  Case Number.1           6797 non-null   object
 20  original order          6799 non-null   float64
 21  Unnamed: 21             1 non-null      object
 22  Unnamed: 22             2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

## GENERAL

In [5]:
#check the columns to see if treatment is needed
shark_attacks.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number',
       'Case Number.1', 'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [6]:
#tremove them the space all column tittles
shark_attacks.columns = shark_attacks.columns.str.rstrip()

In [7]:
#check if olumns were fixed
shark_attacks.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species',
       'Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number',
       'Case Number.1', 'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [8]:
#eliminate columns filled with NaN elements and all the others that have no use to my analysis
shark_attacks.drop(columns = ['Unnamed: 21', 'Unnamed: 22', 'Date', 'Name', 'Species', 'Type', 'Time', 
                              'Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number', 
                              'Case Number.1', 'original order', 'Injury'], inplace = True)
shark_attacks

,Year,Country,Area,Location,Activity,Sex,Age,Fatal (Y/N)
0,2023.0,USA,Florida,"Blue Fish Channel, Key West, Monroe County",Kite-Surfing,M,67,N
1,2023.0,AUSTRALIA,Western Australia,Delta Island,Wading,M,30s,N
2,2023.0,USA,Hawaii,Anaehoomalu Bay,Swimming,M,60,N
3,2023.0,MEXICO,Quintana Roo,Canc√∫n,Swimming,M,10,N
4,2023.0,AUSTRALIA,Western Australia,Cheynes Beach,Surf-sking,F,NaN,N
...,...,...,...,...,...,...,...,...
6860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6861,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#check how many rows are filled with ONLY NaN values
nan_rows = shark_attacks.isnull().all(axis = 1)
nan_rows.sum()

25

In [10]:
#eliminate rows filled with ONLY NaN values
shark_attacks.dropna(axis = 0, how = 'all', inplace = True)
shark_attacks.head(10)

,Year,Country,Area,Location,Activity,Sex,Age,Fatal (Y/N)
0,2023.0,USA,Florida,"Blue Fish Channel, Key West, Monroe County",Kite-Surfing,M,67,N
1,2023.0,AUSTRALIA,Western Australia,Delta Island,Wading,M,30s,N
2,2023.0,USA,Hawaii,Anaehoomalu Bay,Swimming,M,60,N
3,2023.0,MEXICO,Quintana Roo,Canc√∫n,Swimming,M,10,N
4,2023.0,AUSTRALIA,Western Australia,Cheynes Beach,Surf-sking,F,NaN,N
5,2023.0,BRAZIL,Pernambuco,Piedade Beach,Swimming,F,15,N
6,2023.0,BRAZIL,Pernambuco,Piedade Beach,Swimming,M,14,N
7,2023.0,SEYCHELLES,Praslin Island,NaN,Snorkeling,M,6,NaN
8,2023.0,BRAZIL,Pernambuco,Praia de Milagres,Surfing,M,32,N
9,2023.0,NEW CALEDONIA,South Province,"Ch√¢teau-Royal Beach , Noumea",Swimming,M,59,F

In [11]:
#check the new dataframe
shark_attacks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6840 entries, 0 to 6839
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         6838 non-null   float64
 1   Country      6790 non-null   object
 2   Area         6362 non-null   object
 3   Location     6279 non-null   object
 4   Activity     6257 non-null   object
 5   Sex          6263 non-null   object
 6   Age          3869 non-null   object
 7   Fatal (Y/N)  6282 non-null   object
dtypes: float64(1), object(7)
memory usage: 480.9+ KB

Now the DataFrame has only the columns that are relevant to my analysis.  
Next step will be to work on each column. 

I will work and present the data on the following order:  
* Age
* Sex
* Activity
* Country
* Area
* Location
* Year

## AGE

In [12]:
#check the column Age
shark_attacks['Age']

0        67
1       30s
2        60
3        10
4       NaN
       ...
6835    NaN
6836    NaN
6837    NaN
6838    NaN
6839     15
Name: Age, Length: 6840, dtype: object

In [13]:
#check how many NaN in column Age
nan_sum_age = shark_attacks['Age'].isna().sum()
nan_sum_age

2971

In [14]:
print(shark_attacks['Age'].unique().tolist())

['67', '30s', '60', '10', nan, '15', '14', '6', '32', '59', '41', '16', '8', '49', '34', '53', '30', '26', '68', '43', '50', '29', '40', '51', '19', '38', '17', '31', 39, 26, 58, 51, 14, 17, 10, 13, 33, 16, 40, 49, 41, 60, 28, '40s', 68, 35, 62, 'teen', 20, 8, 22, 32, 56, 'Teen', 12, '50s', 21, 42, 36, 18, 37, 50, 'M', 9, 24, 15, 11, 27, 57, 34, 25, 38, '!6', 31, 64, '!!', 47, 55, 19, 7, 71, 48, 59, 53, 54, 75, '45 and 15', 46, 61, 73, 52, 29, 30, 70, 23, 4, 63, 45, 44, '28 & 22', '22, 57, 31', '60s', "20's", 43, 65, 67, 74, '9 & 60', '20s', 'a minor', 6, 69, 3, 82, 66, 72, '39', '23', '52', '12', '18', '47', '37', '9', '36', '13', '11', '65', '63', '71', '48', '70', '58', '18 months', '22', '35', '57', '20', '24', '44', '7', '28', '33', '45', '61', '42', '25', '66', '21', '77', '46', '74', '55', '27', '3', '56', '64', '28 & 26', '62', '5', '54', '86', '18 or 20', '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', 77, '36 & 26', '8 or 10', 84, '\xa0 ', ' ', '30 or 36', '6¬Ω', '21 & ?', '33 or 37', 'mid-30s', '23 & 20', 5, ' 30', '7      &    31', ' 28', '20?', "60's", '69', '32 & 30', '16 to 18', '87', 'Elderly', 'mid-20s', 'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50', '18 to 22', 'adult', '9 & 12', '? & 19', '9 months', '25 to 35', '23 & 26', 1, '(adult)', '33 & 37', '25 or 28', '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32', '50 & 30', '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19', '33 & 26', '2 to 3 months', '4', 'MAKE LINE GREEN', ' 43', '81', '"young"', '7 or 8', 78, '17 & 16', 'F', 'Both 11', '9 or 10', 'young', '36 & 23', '  ', '78', 'A.M.', '?    &   14', '10 or 12', '31 or 33', '2¬Ω', '1', '13 or 14']

In [15]:
#check the elements that appear only once in a list format
#check how many there are#check how many NaN in column Age
#nan_sum_age = shark_attacks['Age'].isna().sum()
#nan_sum_age

value_counts_age = shark_attacks['Age'].value_counts()
unique_values_age = value_counts_age[value_counts_age == 1]
unique_list_age = unique_values_age.index.tolist()

print(unique_list_age)
print(len(unique_list_age))

['18 months', '25 or 28', '13 or 18', '"middle-age"', 'X', '17 & 35', '50 & 30', '30 & 32', '21, 34,24 & 35', '37, 67, 35, 27,  ? & 27', '(adult)', '33 & 37', '33 & 26', 1, '23 & 26', '25 to 35', '9 months', '? & 19', '9 & 12', 'adult', '18 to 22', '34 & 19', '2 to 3 months', '20 ', 'M', '1', '2¬Ω', '31 or 33', '10 or 12', '?    &   14', 'A.M.', '78', '  ', '36 & 23', '9 or 10', '4', 'Both 11', 'F', '17 & 16', 78, '!6', '"young"', '81', ' 43', 'MAKE LINE GREEN', '>50', '74 ', '21 or 26', '22, 57, 31', 77, 'Teens', '28, 23 & 30', '46 & 34', '12 or 13', '18 or 20', '86', 4, '28 & 22', '28 & 26', '45 ', "20's", 67, 74, '9 & 60', 'a minor', '74', 82, 66, 72, '36 & 26', '45 and 15', 84, '\xa0 ', 'Ca. 33', 'mid-20s', 'Elderly', '87', '16 to 18', '32 & 30', '69', "60's", '20?', ' 28', '7      &    31', ' 30', '!!', '23 & 20', 'mid-30s', '33 or 37', '21 & ?', '6¬Ω', '30 or 36', '13 or 14']
93

In [16]:
print(shark_attacks['Age'].tolist())

['67', '30s', '60', '10', nan, '15', '14', '6', '32', '59', '60', '32', '41', '16', '8', '49', '34', '53', '30', '26', '68', '15', '43', '60', nan, '10', '50', '29', nan, '40', nan, nan, '51', '19', '15', '40', '38', '17', '31', 39, 26, 58, 51, 14, nan, nan, nan, 17, 10, nan, nan, 13, 33, 16, nan, nan, nan, 40, 49, 41, '30s', 17, 60, 28, nan, nan, '40s', 68, nan, 17, 35, nan, nan, nan, nan, 62, 'teen', nan, nan, 20, nan, 62, nan, nan, 8, 22, 32, 56, 17, 'Teen', 12, nan, nan, '50s', 56, nan, 32, nan, 20, 21, nan, 42, 51, nan, 36, 56, 18, 37, 50, 20, 'M', nan, nan, 13, 42, 42, '40s', 9, 42, 24, 14, 15, 15, nan, 11, 27, 57, nan, 26, 26, 34, 25, nan, 38, nan, '!6', 31, nan, 64, '!!', 41, 21, nan, 35, 15, nan, 12, 47, 15, 58, 34, nan, 32, 55, nan, 35, nan, 11, 38, nan, 9, 36, 51, 25, 8, 19, 31, 15, nan, 7, 38, 36, 25, 12, 14, 12, 71, 51, 10, nan, 26, 48, 59, 35, 57, 21, 14, 53, 64, 54, 25, 53, 57, nan, nan, 38, 38, 36, nan, 27, 10, 16, 7, 9, 75, 20, 16, 57, nan, nan, 17, '45 and 15', 46, 61, 58, nan, 73, 32, 52, 54, 7, 26, 19, 19, 17, 68, nan, 40, 39, nan, 56, 20, 29, 42, 35, nan, 59, 13, 17, nan, nan, nan, 59, nan, 52, 31, 17, nan, 61, 30, '50s', nan, 48, 15, 25, 54, 46, 70, nan, nan, 12, nan, 23, 14, 50, nan, 35, 55, nan, 54, 22, 14, 28, 38, nan, 4, 63, 23, 11, nan, 12, 10, 14, 29, 15, 15, 36, 7, 16, nan, nan, 30, 60, nan, 12, nan, nan, 18, 12, 9, nan, 26, nan, 57, 16, nan, nan, 23, 38, 'Teen', nan, nan, nan, nan, 26, 60, nan, nan, 24, 59, 13, 26, 75, 7, 57, 12, 21, '30s', 45, 33, nan, 17, 37, nan, 70, 57, 57, 9, 30, 38, nan, nan, 9, 30, 23, nan, nan, 44, '28 & 22', 32, nan, 35, 17, 20, 29, 51, nan, 45, nan, nan, 13, '22, 57, 31', 22, nan, 70, '60s', 40, 11, 26, 32, 9, 16, 51, 21, 20, 37, 49, nan, 18, nan, 49, 23, 18, nan, 45, nan, 16, "20's", 43, nan, 32, 18, 21, nan, 8, 50, 64, 19, nan, nan, 17, 43, 65, 10, 67, nan, nan, 53, 28, 34, 28, 12, nan, 18, 65, 25, 10, 58, 23, nan, 74, 25, 46, 32, 58, 11, nan, 46, nan, 41, 31, 25, nan, 50, nan, 50, 41, 17, 15, '9 & 60', 19, 35, 48, 24, 50, 36, '20s', 48, 17, 24, 31, 41, 20, 8, 42, 33, nan, nan, nan, 29, nan, 50, 25, nan, nan, nan, 55, 13, 17, 55, '30s', 32, nan, 43, 12, 46, 26, 39, 23, '60s', 40, nan, 14, 29, 14, 24, 56, nan, 61, 42, 16, 'a minor', 42, 14, 6, 13, 12, nan, 62, 58, 14, 17, 30, 14, 19, nan, 11, 57, nan, 11, 48, nan, nan, nan, 18, nan, 52, 15, 12, 32, 10, 10, 21, 34, nan, nan, nan, nan, 30, nan, nan, 60, nan, 32, 33, 29, 54, 34, 41, 37, nan, 56, 17, 12, 19, 25, 10, 69, 18, 38, 55, 34, 35, nan, 46, 45, 14, 18, '40s', nan, 28, 20, nan, 54, 35, 24, 25, 26, 49, nan, 25, 14, 24, 25, 22, '20s', 7, 31, nan, nan, 17, 60, 15, nan, nan, 54, 40, 31, nan, nan, 33, nan, nan, 13, 28, 25, nan, nan, 18, nan, 35, nan, nan, 42, nan, nan, 17, 37, 3, 11, nan, 69, nan, 13, 20, 34, nan, 15, 10, 12, nan, nan, 37, nan, nan, 40, 8, 40, 50, nan, nan, nan, 46, 32, 13, nan, nan, 16, nan, 14, 34, 82, nan, nan, 48, nan, 19, 30, nan, 32, 20, nan, 73, 41, 29, 33, 18, nan, 14, 33, 28, '20s', nan, 40, nan, nan, 17, 28, 17, nan, 68, 35, 10, 21, 16, 51, 39, 17, 58, 30, nan, 25, 58, nan, nan, nan, nan, 26, 26, 22, nan, nan, nan, 37, 21, 'Teen', 55, 57, nan, 48, 35, 47, 20, 16, nan, 55, 61, '40s', 19, 20, 65, 73, 58, 41, 42, 36, 36, nan, 66, nan, 25, 29, 21, 32, 17, 16, 36, 43, 43, nan, nan, nan, '60s', 51, 50, 12, nan, 9, 22, nan, 25, 37, 20, 49, 15, 21, 22, 40, 72, nan, 43, 18, 29, 36, nan, 31, nan, 9, 11, 61, nan, nan, 10, nan, 59, nan, 42, 34, 35, 11, 59, 43, 42, nan, nan, 19, 6, 19, 27, 64, 60, 23, nan, nan, 29, 52, 13, 57, 22, 11, 48, 23, 59, 39, 33, 24, 15, nan, 12, 22, 26, 26, 69, 60, 34, nan, 46, 22, 'Teen', 41, 9, nan, 19, 45, 12, nan, 41, 21, 31, nan, 65, nan, 45, 40, 41, nan, nan, 15, nan, nan, 48, nan, 11, 31, nan, 38, 71, 43, 32, 58, nan, 26, 22, 55, nan, nan, 28, 20, 9, 54, 28, 19, 50, 10, 42, 21, 21, 35, 32, 44, nan, 9, 25, nan, 18, 22, 13, 14, 22, 7, nan, 14, 27, 12, 16, nan, nan, 20, 42, 50, 29, 62, nan, 37, nan, 54, 21, nan, 38, 15, 10, 22, 10, 57, 52, 47, 40, 25, 35, 46, 31, 40, 45, 34, '38', '39', nan, '23', '32', '52', '32', '68', nan, '12', '18', '19', nan, '23', '43', '19', '47', '6', '37', '9', '36', '10', '16', '12', nan, '13', '11', '17', '47', '14', '19', '19', '13', '18', '30', '50', nan, nan, '29', '65', '63', '26', '71', '48', '13', nan, '70', '43', '23', '36', '52', '58', '9', nan, '36', '18 months', nan, '22', '41', '35', nan, '57', '20', nan, '24', nan, nan, nan, '17', '38', '34', '15', '12', nan, '17', nan, nan, '50', '40s', nan, '17', nan, '13', '39', nan, nan, '44', '53', nan, '18', '34', '20', nan, nan, nan, '13', '7', nan, nan, '29', '40', '15', nan, nan, '28', '23', nan, '36', nan, '50', '43', '20s', '52', '16', '13', '17', nan, '33', '30s', '29', nan, nan, nan, '31', nan, '26', nan, '10', '7', '10', '45', '50s', '8', '20', nan, 'Teen', '51', '8', nan, '61', '39', '63', nan, '14', nan, nan, '19', '48', '42', nan, '15', nan, '43', '16', '39', '43', '14', '22', nan, '37', '29', nan, '10', '38', '35', '44', '12', nan, '40', nan, '23', nan, '42', '25', nan, nan, 'teen', 'teen', '63', '38', '66', nan, '9', '42', '42', '10', nan, nan, '21', '21', '21', '28', nan, '28', nan, '24', '31', nan, nan, '37', '19', '35', '29', '30', '26', '57', '19', '58', '35', '25', nan, '77', '16', nan, '46', '60', '24', nan, '41', '45', '25', '6', '74', '55', '45', '12', '50', '27', '7', '45', nan, '21', '13', nan, '43', '25', '17', '3', nan, '9', nan, nan, '47', '50', '11', nan, '16', nan, '20', '19', '10', nan, '17', '56', '32', '40', nan, '18', '64', '50', '18', '50', 'teen', '15', '33', '63', '48', '29', nan, '20', nan, nan, '14', '28', '15', nan, nan, '10', '58', nan, '32', '11', '41', '30', '29', '42', '36', '16', nan, '34', '51', '9', nan, '21', '40', '53', '50', '24', '58', '47', '34', nan, '50', '30', nan, '68', '28', '28 & 26', '39', '46', nan, nan, '16', '48', '18', nan, nan, '62', '43', nan, '26', nan, '23', '29', '20', '32', '60', '31', '25', '61', '20', '32', '14', '30', '43', '25', '51', '39', '35', '24', '55', nan, '38', '42', '11', '21', '22', '52', '29', '19', '25', nan, '30s', '37', '32', '8', nan, '56', '53', '34', '18', '31', nan, '56', '39', nan, '17', '48', '44', '50', '12', '22', '24', '23', '24', '43', nan, '42', '52', '29', '60', '6', '26', '16', nan, '12', '62', '16', '6', '23', '18', nan, nan, '16', '42', '57', '30', '12', '25', '33', '46', '22', nan, '20', '30', '47', '15', '28', '20', '27', '28', nan, '33', '21', nan, '20', '61', '15', '17', nan, '34', '31', '19', '42', nan, nan, nan, nan, '29', nan, '26', nan, '24', '44', '25', '53', '28', '34', nan, nan, '23', '27', nan, '35', '51', nan, '14', nan, nan, '63', '18', '10', nan, nan, '35', '42', '27', '26', nan, '32', '41', '50', nan, nan, '64', '51', nan, '29', '27', '48', '43', '21', '5', nan, '38', '17', '25', '37', '30', nan, '21', '19', '19', '48', '39', nan, '21', '10', '49', '16', '20s', '12', '25', '32', '27', '30', '7', '54', '36', '14', '43', nan, '29', '6', nan, nan, '54', '12', '14', '16', '17', '28', '21', '22', '10', nan, '20', '35', '15', '31', nan, '28', '24', '28', '19', nan, '22', '33', nan, nan, '28', '86', '15', '37', nan, '43', '37', '32', '17', '49', '41', nan, '27', nan, nan, '48', '46', '30', '24', nan, nan, '36', '21', '32', '49', nan, '58', nan, '37', '38', '25', '55', '7', '16', '37', nan, '16', nan, '46', '70', nan, '54', '46', '70', '48', '47', nan, '33', '21', nan, nan, '20', nan, nan, nan, '30', '14', '19', nan, '22', nan, nan, 'Teen', '29', '18', '29', '15', '27', '24', nan, '24', '24', '34', '43', '10', '31', '45', nan, '16', '47', '25', '35', nan, nan, '37', '16', '20', '10', '13', '55', '9', nan, nan, '21', '20', '19', '48', '20', '6', '13', '17', '18', '40', '20', '49', '58', '60', nan, '59', '10', '29', '68', '35', '24', '34', nan, nan, '19', '60', '46', nan, '18', nan, '31', '38', '14', '29', nan, '54', nan, '37', '9', nan, nan, nan, '32', nan, '20', '55', '27', nan, '18', '22', nan, '24', '39', nan, '58', '49', '10', '31', '22', '27', '18', '25', '21', '27', nan, '17', nan, '54', '10', '23', '23', nan, '39', nan, nan, nan, '34', '60', '15', nan, nan, nan, '25', '22', nan, '26', nan, '56', '14', '14', '41', nan, '14', '11', '26', '19', '57', nan, nan, '37', '12', '43', '52', '26', '14', nan, nan, nan, '50', '46', nan, '31', '49', '55', '27', '48', nan, nan, '20', '23', '52', '31', '49', '40', '24', nan, '15', '59', '16', '17', nan, nan, '17', nan, '61', '21', '19', '40', nan, '15', nan, nan, '33', '31', nan, '41', nan, '49', '17', '15', nan, '19', '25', '17', nan, nan, nan, '24', '13', '31', nan, '22', '49', nan, nan, nan, '10', '29', '51', nan, nan, '15', nan, nan, nan, nan, nan, nan, '45', '39', '34', '24', '50', '15', '11', '43', '44', '40', '43', '32', '40', nan, '51', '43', '15', '52', nan, '29', '27', '52', '19', '26', '20', '20', '47', '7', '38', '13', nan, '31', nan, nan, '33', nan, '17', '44', '9', '8', '15', '16', nan, '52', '24', '14', '17', '16', '53', '42', '46', nan, '29', '37', nan, '40', '35', '14', '40', nan, '15', '14', '9', nan, '49', '21', '28', '37', '40', '6', '24', '24', '18', '24', '32', '21', '66', '14', nan, nan, '32', '19', '30', nan, '15', nan, '16', '18', '39', '52', nan, '13', '14', '8', '27', '49', '26', '25', '14', nan, nan, '42', '20', nan, nan, '20', nan, '26', '24', '53', '31', 'teen', '34', '52', nan, '28', '32', nan, '14', '21', '42', '37', nan, '32', '52', '31', '22', '16', nan, nan, '23', '48', nan, '18 or 20', nan, nan, '23', nan, '56', 'Teen', '14', '58', '36', '15', '12', '58', '15', '24', '54', '27', nan, nan, '52', '16', '7', '20', '15', '19', '30', '9', '19', '51', '20', nan, nan, '36', '15', '14', '48', '43', '30', '48', '18', '17', nan, nan, nan, '20', nan, '9', nan, nan, nan, '40', '38', '38', '19', '21', nan, '45', '63', '68', nan, '20', '13', '12', '24', nan, '26', '7', '27', '9', nan, '11', '42', nan, '59', '29', '16', '36', '26', nan, '30', nan, '41', '20', '24', nan, '54', '24', nan, '25', '10', '43', '25', '15', nan, '29', nan, '22', '15', '20', nan, '18', '26', nan, '36', '19', nan, '16', '55', '52', '44', '20', '33', '12 or 13', '37', '23', nan, '27', '17', '34', nan, '34', nan, '24', '59', nan, nan, '41', nan, '15', '19', '14', nan, nan, '49', '7', '21', nan, '40', '11', '14', '13', '28', '35', '9', nan, '25', '22', '27', '43', '24', '7', '40', '26', nan, '31', '15', '33', '30s', nan, '20s', '46', nan, '54', '13', '35', '15', '15', '35', '11', nan, '28', '17', '21', '15', '15', '45', '18', nan, nan, '15', '24', '57', '46 & 34', '34', '28, 23 & 30', nan, '52', nan, '21', '21', '49', '30', '29', nan, '44', nan, 'teen', '23', nan, '18', '26', nan, '30s', '17', nan, '32', '18', '25', '26', '15', '55', '20', '36', '20', '15', '22', '57', '48', '35', '52', '28', '26', '44', nan, '68', '18', '15', '18', '40', '62', '21', '23', '37', '17', '8', '12', nan, '16', '14', nan, '13', '61', '25', nan, '24', nan, '22', '14', '19', '16', '14', '7', nan, '49', '20', '38', '11', '17', '22', '6', '33', nan, '32', nan, nan, nan, 'Teens', '47', '25', nan, '20', '40', '70', '52', '37', nan, nan, 32, nan, nan, 26, 45, 51, nan, nan, 18, nan, nan, nan, '12', 19, nan, nan, '39', '11', 18, 38, 20, 16, 77, 38, '30s', nan, 40, nan, 52, 59, nan, 34, 34, 15, 16, 40, nan, 26, nan, nan, 17, 38, 24, nan, 50, 47, 30, nan, 20, nan, '28', 13, 19, 11, nan, 51, 30, 'Teen', 7, '45', nan, nan, 17, 8, 21, 16, 17, 44, 9, 9, 9, 24, 63, 28, '22', nan, nan, nan, nan, 57, 16, 22, 26, 20, 22, nan, '20', 61, nan, nan, 51, 47, 29, 15, nan, 31, nan, 22, 46, '21', nan, nan, 40, nan, nan, 22, nan, nan, nan, nan, 28, '13', 45, 36, nan, nan, 21, '35', 35, '24', nan, nan, nan, nan, '18', 22, 13, '46', 56, 19, nan, nan, 18, 30, 50, 41, '40', 16, 21, '19', '17', '30', '36 & 26', '8 or 10', 18, 15, 19, nan, nan, 50, 31, 16, '37', '18', '15', 58, '10', '21', 39, nan, nan, nan, 17, 15, nan, 12, 60, 51, 33, '15', 22, 18, 22, 20, 34, '9', nan, nan, 16, 17, 7, 36, 17, 30, 23, 18, 11, 12, 20, 28, nan, '50', nan, 44, 37, 54, 24, 84, 14, nan, nan, 18, '25', 26, 11, 23, 19, nan, 48, 34, 41, '21', '16', '52', 60, 36, '21', 14, 35, 18, 47, '32', 55, '\xa0 ', ' ', 24, 35, 19, nan, 47, 20, '36', 16, 29, 27, 15, 15, 30, 14, 13, 15, '19', 41, 22, 9, '30', '11', nan, nan, nan, nan, 28, 50, 10, 50, 24, 16, '55', '35', nan, '14', 31, '40', 20, 23, 52, 34, 28, 45, 43, '41', 29, 17, 11, '16', '20', 39, 31, '44', nan, '30 or 36', 15, 35, 20, 32, 16, nan, 26, 35, 36, 49, nan, nan, nan, '20', 26, 31, '21', 14, 42, '6¬Ω', 16, nan, 44, '13', nan, '28', '23', '20', 10, 44, '29', 69, 18, '18', 17, 27, 32, 17, '17', 20, 19, 19, 43, '21 & ?', nan, 36, nan, nan, nan, nan, nan, 48, 18, 42, 8, nan, '35', 14, 52, 75, 29, 16, 11, nan, 24, nan, '26', '33 or 37', 45, nan, '14', 16, 12, 'mid-30s', 38, 21, 12, 22, 19, '22', nan, 16, 46, nan, '26', '12', 40, nan, nan, '12', 20, nan, nan, nan, 40, '35', 55, nan, nan, nan, '23', 47, nan, 30, 38, nan, '28', 47, 73, 27, 52, 49, 27, 31, 23, 56, 69, 17, 23, 11, '24', nan, 17, 25, 12, 31, nan, '49', '26', 25, '8', 48, 28, 40, 27, nan, '47', 69, nan, nan, 53, '27', 44, nan, '23 & 20', nan, 5, 45, 16, 14, 15, 18, nan, 69, 13, 41, 5, 12, '20', '55', 13, 19, nan, nan, nan, 52, nan, 17, 55, 44, 13, nan, nan, nan, 9, nan, 34, nan, nan, 26, 14, 37, '35', nan, nan, nan, 27, nan, 39, '27', nan, nan, 12, '26', nan, 35, nan, 15, 13, 12, 18, nan, '39', '35', '19', 51, nan, 35, 39, '12', 12, '45', '13', nan, 16, '22', nan, '37', 61, '10', '13', '7', '39', 28, nan, '23', '17', 10, 62, '35', 42, 43, 43, 14, nan, 30, '29', 20, '21', '41', 5, 22, 21, '41', '52', 14, nan, nan, 29, nan, 28, 18, 29, nan, 35, '25', '47', nan, nan, '37', nan, '30', nan, '19', '21', 18, 14, '21', 9, '14', 13, 32, '52', 22, '17', '30', nan, '17', nan, '28', '6', '18', nan, '28', '25', '26', nan, 16, nan, 28, '11', nan, 19, 24, nan, 13, 47, '16', 10, 26, 20, '18', nan, 17, 15, 16, 40, '14', '24', 22, 35, 50, 16, nan, nan, '40', 33, '32', nan, '31', nan, nan, 21, nan, 23, '28', nan, nan, 39, nan, '29', 8, '42', 32, '21', 51, 19, '23', '12', nan, 14, '20', '12', '17', '20', '18', '22', 29, 28, 33, '12', '17', '16', '17', nan, '10', nan, 17, 19, '19', 25, nan, 50, 55, nan, nan, '47', '18', nan, '33', '35', 34, 12, 54, nan, '22', '21', ' 30', nan, nan, 49, '27', 41, nan, nan, '18', nan, nan, nan, 45, '26', nan, nan, nan, 22, 21, 31, nan, 14, '23', 19, '5', '28', '28', 29, 19, 36, '21', '8', 52, nan, '46', '9', nan, '18', 63, 24, '24', nan, nan, 17, 45, '22', '33', 27, nan, '11', '16', nan, 47, '7', 24, '32', nan, nan, '14', nan, '7', '33', '13', 53, nan, nan, '25', nan, nan, nan, 22, nan, nan, nan, '13', '17', '15', '39', '14', '17', 25, 19, 19, nan, 25, 29, 32, '9', '19', 44, nan, '16', 18, 16, 23, '19', nan, '18', 20, '15', '20', 14, 12, nan, nan, nan, nan, '18', 18, 12, 7, 47, '18', 14, '34', '32', nan, 31, nan, '13', nan, 45, 10, 38, '45', 29, 44, '15', 69, nan, '44', '12', '20', nan, 47, nan, '35', nan, '22', nan, 14, '17', '33', nan, nan, nan, 26, nan, nan, nan, nan, nan, '44', 42, nan, nan, 34, nan, nan, nan, '9', 16, 30, '43', '7      &    31', 12, nan, '15', nan, '24', 22, 31, nan, 15, '30', '24', ' 28', 35, '36', '26', 22, 25, nan, '20?', '71', nan, 19, nan, 33, '25', nan, '23', nan, 15, nan, nan, nan, 44, nan, '23', 33, nan, nan, nan, '30', 27, nan, nan, 26, 26, 34, nan, '21', 36, '15', '17', 19, 16, 69, '51', '13', nan, nan, 19, nan, 39, nan, nan, 28, 12, nan, '16', 61, '42', 22, 31, 34, '42', "60's", nan, nan, '32', nan, '25', nan, 35, 55, nan, nan, nan, '69', '15', '21', '32 & 30', 29, nan, nan, 30, nan, 10, 30, '31', 19, '24', 46, '30', 40, '17', 18, 40, 28, nan, nan, 28, nan, 20, 18, nan, nan, '34', '17', nan, 22, '26', nan, nan, '42', nan, nan, nan, '16', '21', nan, nan, '45', nan, nan, nan, 35, 36, 17, 41, nan, 21, nan, nan, 19, nan, '19', 19, 36, nan, nan, nan, '33', 25, 41, nan, nan, nan, 14, 21, 32, '32', 19, 36, 23, '10', nan, 40, '39', '42', '70', '22', '30', 32, '13', 22, nan, '18', '31', 65, '23', nan, nan, nan, 22, nan, '18', 38, 20, '35', nan, '22', nan, '26', nan, '24', 50, 18, '26', nan, '25', 43, '19', 26, 49, 44, '30', 22, nan, '18', '51', '53', 17, 21, '38', nan, '30s', '30s', 22, 23, '31', '37', nan, '29', nan, '30', nan, nan, '33', nan, 17, nan, '17', '27', '32', 29, nan, '10', '31', 17, nan, '12', '49', nan, 29, '51', nan, 38, 31, 46, '30', 21, 21, 17, 31, '41', '35', 34, nan, 16, '9', nan, 45, nan, 16, 28, nan, '19', nan, nan, nan, nan, 27, nan, nan, 26, 47, 24, 24, 10, 19, nan, 17, nan, nan, nan, 17, 62, nan, 21, '38', '15', '30', 23, '15', 23, '21', '27', nan, 38, nan, '16', nan, 27, nan, '28', '35', '15', '37', nan, nan, 36, 42, 37, 12, 25, '38', 31, 29, nan, nan, '24', nan, '14', nan, nan, '30', nan, 17, nan, nan, 20, 15, nan, '22', 22, nan, nan, '33', nan, '12', nan, '16', '16 to 18', '15', nan, 20, '14', 21, nan, 47, 24, 12, 40, 27, '32', '16', nan, '35', nan, nan, 12, nan, '34', nan, 16, nan, '8', '18', nan, nan, nan, 30, 37, nan, nan, nan, 21, 40, 37, 27, 22, nan, 17, '26', '23', nan, 6, '32', nan, '28', nan, nan, '18', 16, 35, nan, nan, nan, 8, 26, nan, nan, nan, nan, nan, 26, '23', 21, nan, 46, 29, '29', '22', 16, nan, nan, nan, nan, '24', 22, 46, 33, 24, nan, nan, '21', nan, 17, '87', '11', '67', 13, 15, nan, 10, '13', nan, 39, '25', 33, 29, '16', 15, nan, 18, nan, 34, nan, 20, nan, nan, nan, '16', '13', '29', '22', '23', '77', '15', 25, nan, '17', 'Elderly', '16', nan, nan, 28, nan, '31', nan, 13, 18, '21', 30, nan, 27, '13', '20s', 28, nan, nan, nan, nan, nan, 33, nan, '27', 14, 14, nan, nan, '36', '17', '48', 16, 47, nan, nan, '15', nan, '16', '20', '15', nan, 29, 14, '14', '22', nan, 21, 24, 28, nan, '39', '13', '17', '42', '15', '21', '30', nan, nan, '21', '15', '22', nan, 27, '16', nan, 17, nan, nan, nan, 16, '43', nan, 22, 32, nan, nan, nan, '27', nan, nan, '26', 16, 16, '20', '36', 28, 'mid-20s', nan, 17, 18, nan, '20', 38, 26, '17', '43', '19', nan, 27, '20', '19', '8', nan, 'Ca. 33', 16, 20, nan, 32, '18', nan, nan, nan, 75, nan, '29', 20, nan, nan, nan, 24, nan, nan, nan, nan, '59', 19, nan, '17', '24', '28', nan, 26, '25', '24', '15', 19, nan, nan, 19, 53, 16, 32, nan, nan, nan, nan, nan, '27', 27, '32', nan, 19, nan, nan, 24, 19, 24, nan, nan, 30, nan, nan, 15, nan, 25, 23, '27', nan, 25, nan, '22', nan, nan, '16', 29, 19, '22', nan, 10, nan, nan, '15', '22', nan, nan, '44', 22, nan, nan, '13', 52, nan, nan, 61, 24, 29, 29, nan, 25, nan, '34', nan, '20', '20s', 18, '19', '32', 20, nan, nan, '18', '21', 16, '49', nan, '56', '36', 25, nan, nan, nan, 24, 8, 27, nan, nan, nan, 19, nan, ' ', 23, nan, '17', nan, 27, nan, '28', '34', nan, '27', '39', '27', '20', '17', nan, '25', '23', nan, nan, nan, nan, 17, nan, nan, nan, '49', '27', 18, nan, nan, 25, 17, '25', nan, 20, '17', '21', '27', '25', nan, nan, nan, nan, 31, '32', '74 ', '45 ', 24, nan, nan, nan, nan, 29, 19, nan, 19, '17', nan, nan, 25, 20, nan, 27, nan, '16', nan, '15', 23, 19, '24', '10', '18', '23', '17', nan, '46', nan, nan, nan, '21 or 26', nan, nan, nan, nan, nan, nan, nan, '25', nan, nan, nan, 27, 35, 20, 33, nan, '18', nan, 20, nan, 21, 19, 20, 44, '24', '62', '37', '24', 21, 23, '34', '14', '29', '16', '18', '15', '27', '20', nan, '17', 10, '37', nan, nan, nan, nan, '14', 18, nan, nan, 16, nan, 12, '45', nan, 12, '17', '25', nan, nan, 32, '24', 17, 29, 20, 41, 48, 30, '24', '22', nan, 19, 18, '21', nan, 36, '17', '10', '61', 45, nan, 22, 19, '11', 17, 21, nan, 14, 19, nan, nan, 42, 26, 33, nan, 32, nan, nan, 41, '20 ', '19', nan, '20s', nan, '13', nan, nan, 11, '20', '37', nan, 21, 16, 17, nan, '45', nan, '28', 26, '57', nan, nan, nan, nan, '13', 29, 25, '17', nan, nan, 24, nan, '24', 19, nan, '17', '17', nan, '20', '15', nan, '45', nan, nan, nan, '22', 32, '27', 25, nan, 19, '33', nan, '18', nan, 20, 30, 24, nan, nan, nan, 22, 16, '20', '20', 20, '18', 25, 30, 17, '34', '51', '26', '8', nan, 21, 32, 16, '>50', '19', '14', '66', nan, 16, nan, nan, '15', nan, nan, nan, '18', '18 to 22', nan, '41', nan, nan, nan, '43', '20', '18', 20, nan, nan, nan, nan, '13', 25, '16', '18', nan, '14', nan, nan, nan, '19', '8', 14, 16, 12, 10, nan, '22', nan, '15', nan, nan, nan, nan, 28, 25, 35, 35, 15, na

In [17]:
#check how many NaN in column Age
nan_sum_age = shark_attacks['Age'].isna().sum()
nan_sum_age

2971

In [18]:
#convert NaN to numeric values
shark_attacks['Age'] = pd.to_numeric(shark_attacks['Age'], errors = 'coerce')
shark_attacks['Age']

0       67.0
1        NaN
2       60.0
3       10.0
4        NaN
        ...
6835     NaN
6836     NaN
6837     NaN
6838     NaN
6839    15.0
Name: Age, Length: 6840, dtype: float64

In [19]:
#convert NaN to -1
shark_attacks['Age'].fillna( -1, inplace = True)

#check if there is still any NaN element in Sex column
nan_age = shark_attacks['Age'].isna().sum()
nan_age

0

In [20]:
print(shark_attacks['Age'].unique().tolist())

[67.0, -1.0, 60.0, 10.0, 15.0, 14.0, 6.0, 32.0, 59.0, 41.0, 16.0, 8.0, 49.0, 34.0, 53.0, 30.0, 26.0, 68.0, 43.0, 50.0, 29.0, 40.0, 51.0, 19.0, 38.0, 17.0, 31.0, 39.0, 58.0, 13.0, 33.0, 28.0, 35.0, 62.0, 20.0, 22.0, 56.0, 12.0, 21.0, 42.0, 36.0, 18.0, 37.0, 9.0, 24.0, 11.0, 27.0, 57.0, 25.0, 64.0, 47.0, 55.0, 7.0, 71.0, 48.0, 54.0, 75.0, 46.0, 61.0, 73.0, 52.0, 70.0, 23.0, 4.0, 63.0, 45.0, 44.0, 65.0, 74.0, 69.0, 3.0, 82.0, 66.0, 72.0, 77.0, 5.0, 86.0, 84.0, 87.0, 1.0, 81.0, 78.0]

shark_attacks['Age'] = shark_attacks['Age'].str.findall('\d+')

#remove spaces
shark_attacks['Age'] = shark_attacks['Age'].str.replace(' ', '')

#use for loop to check if the words bellow are present
list_words_age = ['ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 
'seventeen', 'eighteen', 'nineteen', 'twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety']

list_words_age_empty = []

for words in shark_attacks['Age']:
    if words in list_words_age:
        list_words_age_empty.append(words)  
    else:
        list_words_age_empty.append('no words found')
print(list_words_age_empty)

#Find if in the Age column there are the words ten, eleven, twelve, thirteen, fourteen, fifteen, sixteen, 
#seventeen, eighteen, nineteen, twenty, thirty, fort,y fifty, sixty, seventy, eighty, ninety
#if one or more of those words are present in the 'age' column, replace them with the correspondent number
mask_age = shark_attacks['Age'].isin(['ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 
'seventeen', 'eighteen', 'nineteen', 'twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'])

#Find if in the Age column there are the words ten, eleven, twelve, thirteen, fourteen, fifteen, sixteen, 
#seventeen, eighteen, nineteen, twenty, thirty, fort,y fifty, sixty, seventy, eighty, ninety
#if one or more of those words are present in the 'age' column, replace them with the correspondent number
mask_age = shark_attacks['Age'].astype(str).str.contains("""ten|eleven|twelve|thirteen|fourteen|fifteen|sixteen|seventeen|eighteen|
                                             nineteen|twenty|thirty|forty|fifty|sixty|seventy|eighty|ninety""") 

age_rows = shark_attacks[mask_age]
print(age_rows)

#since the words I was looking for were not present in the Age column: clean column Age from non-numeric characters
shark_attacks['Age'] = shark_attacks['Age'].replace('[^0-9]', '', regex = True)
shark_attacks['Age']

print(shark_attacks['Age'].unique().tolist())

In [21]:
#convert column Age from object to int
shark_attacks['Age'] = shark_attacks['Age'].astype(int)

In [22]:
#check how many people from 0 - 19 yeras old were attacked
age_0_19 = shark_attacks[(shark_attacks['Age'] >= 0) & (shark_attacks['Age'] <= 19)]
count_age_0_19 = len(age_0_19)
print(count_age_0_19)

1316

In [23]:
#create classes of different age groups and get the % of each group in column Age
age_count_group = pd.cut(shark_attacks['Age'], [-2, 0, 19, 40, 61, 110], labels = ['no class', 'youth', 'young adults', 
                                                                 'adults', 'elderly']).value_counts(normalize = True) * 100

age_count_group = age_count_group.round().astype(int)
print(f'This is the % of shark attacks for each group:\n{age_count_group}')

This is the % of shark attacks for each group:
no class        45
young adults    25
youth           19
adults           9
elderly          1
Name: Age, dtype: int32

In [24]:
shark_attacks.head(10)

,Year,Country,Area,Location,Activity,Sex,Age,Fatal (Y/N)
0,2023.0,USA,Florida,"Blue Fish Channel, Key West, Monroe County",Kite-Surfing,M,67,N
1,2023.0,AUSTRALIA,Western Australia,Delta Island,Wading,M,-1,N
2,2023.0,USA,Hawaii,Anaehoomalu Bay,Swimming,M,60,N
3,2023.0,MEXICO,Quintana Roo,Canc√∫n,Swimming,M,10,N
4,2023.0,AUSTRALIA,Western Australia,Cheynes Beach,Surf-sking,F,-1,N
5,2023.0,BRAZIL,Pernambuco,Piedade Beach,Swimming,F,15,N
6,2023.0,BRAZIL,Pernambuco,Piedade Beach,Swimming,M,14,N
7,2023.0,SEYCHELLES,Praslin Island,NaN,Snorkeling,M,6,NaN
8,2023.0,BRAZIL,Pernambuco,Praia de Milagres,Surfing,M,32,N
9,2023.0,NEW CALEDONIA,South Province,"Ch√¢teau-Royal Beach , Noumea",Swimming,M,59,F

## SEX

In [25]:
#check Sex column
shark_attacks['Sex']

0       M
1       M
2       M
3       M
4       F
       ..
6835    M
6836    M
6837    M
6838    M
6839    M
Name: Sex, Length: 6840, dtype: object

In [26]:
#convert all the letters in the column Sex to upperercase
shark_attacks['Sex'] = shark_attacks['Sex'].str.upper()

#remove spaces
shark_attacks['Sex'] = shark_attacks['Sex'].str.replace(' ', '')

In [27]:
#check unique elements in Sex column
print(shark_attacks['Sex'].unique().tolist())

['M', 'F', nan, 'LLI', 'MX2', 'N', '.']

#check if there are numeric elements in Sex column
num_sex = shark_attacks['Sex'].str.contains('\d').any()
num_sex

In [28]:
#check if there are numeric elements different than NaN in Sex column
not_nan_sex = pd.to_numeric(shark_attacks['Sex'], errors = 'coerce').notnull().any()
not_nan_sex

False

In [29]:
#check how many NaN in column Sex
nan_sum_sex = shark_attacks['Sex'].isna().sum()
nan_sum_sex

577

In [30]:
#replace NaN in Sex column to the acronym 'unk'
shark_attacks['Sex'].fillna('unk', inplace = True)

#check if there is still any NaN element in Sex column
nan_sex = shark_attacks['Sex'].isna().sum()
nan_sex

0

#check if there is more than one letter in Sex column
more_letters_sex = shark_attacks['Sex'].str.count('[a-zA-Z]').gt(1).any()
more_letters_sex

#now that we know that there are rows from Sex column with more than one letter, check if the word male is present
male_sex = shark_attacks['Sex'].str.contains('male', case = False).any()
male_sex

#check if the word female is present
female_sex = shark_attacks['Sex'].str.contains('female', case = False).any()
female_sex

In [31]:
#replace the unkown items to the acronym 'unk' 
unk_words = {'LLI': 'unk', 'MX2': 'M', 'N': 'unk', '.': 'unk'}

shark_attacks['Sex'] = shark_attacks['Sex'].replace(unk_words)

differnet_sex = shark_attacks.loc[~shark_attacks['Sex'].isin(['M', 'F']), 'Sex']

unique_different_sex = differnet_sex.unique()
print(unique_different_sex)

['unk']

In [32]:
#check how many times the elemnt 'unk' appears in Sex column
count_unk_sex = shark_attacks['Sex'].value_counts()['unk']
count_unk_sex

581

In [33]:
sex_attacks = shark_attacks['Sex'].value_counts(True) * 100
sex_attacks = sex_attacks.round().astype(int)
print(f'\nThis is % of attacks in Men(M) and Women(F):\n{sex_attacks}')

This is % of attacks in Men(M) and Women(F):
M      81
F      11
unk     8
Name: Sex, dtype: int32

## ACTIVITY

In [34]:
#check Activity column
shark_attacks['Activity']

0       Kite-Surfing
1             Wading
2           Swimming
3           Swimming
4         Surf-sking
            ...
6835          Diving
6836    Pearl diving
6837        Swimming
6838             NaN
6839        Swimming
Name: Activity, Length: 6840, dtype: object

In [35]:
#convert all the letters in the column Activity to lower
shark_attacks['Activity'] = shark_attacks['Activity'].str.lower()

In [36]:
#remove spaces
#shark_attacks['Activity'] = shark_attacks['Activity'].str.replace(' ', '')

In [37]:
#check if there are numeric elements in Activity column
num_act = shark_attacks['Activity'].str.contains('\d').any()
num_act

True

In [38]:
#check if there are numeric elements different than NaN in Activity column
not_nan_sex = pd.to_numeric(shark_attacks['Activity'], errors = 'coerce').notnull().any()
not_nan_sex

False

In [39]:
#check how many NaN in column Activity
nan_sum_act = shark_attacks['Activity'].isna().sum()
nan_sum_act

583

In [40]:
#replace NaN in Activity column to the acronym 'unk'
shark_attacks['Activity'].fillna('unk', inplace = True)

#check if there is still any NaN element in Sex column
nan_act = shark_attacks['Activity'].isna().sum()
nan_act

0

In [41]:
#check how many times the elemnt 'unk' appears in Activity column
count_unk_act = shark_attacks['Activity'].value_counts()['unk']
count_unk_act

583

In [42]:
#check all the activities in Activity column in alphabetical order
print(sorted(shark_attacks['Activity'].unique().tolist()))

[' ', '   ', ' a canoe was pursuing a schooner that had forcibily abducted 5 young girls', ' diving for abalone (hookah)', '"boat accident"', '"climbing up to ship after repairing the stern in water"', '"crossing the river"', '"flying tiger" transport plane went down with 5 men onboard', '"riding waves on a board"', '"swimming vigorously"', '.', "12 of the penang's crew were returning to the ship when their 12' dinghy capsized", '13 men in the water after sailboat capsized & sank', '14 m prawn trawler new venture capsized  & sank in heavy seas three people in the water', '1446-ton norwegian barque errol, bound from peru to newcastle with 22 on board wrecked. survivors shelterd on the wreck of the annasona. subsequently the master, his wife & 4 children perished along with several crew. survivors (5) were rescued 7/12/1909', "16' catamaran capsized previous night, occupants stayed with wreckage until morning, then attempted to swim ashore", '17 maldivians adrift in open boat for 31 days', '2 boats capsized', '2 messboys (jeppsen) & tony latona (13) were playing on the afterdeck of the danish ship grete maersk. jeppsen fell overboard, latona threw a lifebelt then jumped in to help him. ship didn‚Äôt notice they were missing', '25-foot cabin cruiser happy jack sank in heavy seas', '3 men & 2 boys picked up wearing life jackets and with inner tube', '3,909-ton panamanian freighter chieh lee sank in a typhoon', '3-masted steel barque glenbank foundered during a cyclone', '3.3 m fishing boat sank. treveluwe & peter hodgson (wearing lifejackets) were drifting in the current', '4 men were bathing', "40' fishing boat sank", '43-ton schooner irene capsized & sank', "63' fishing boat sno' bay foundered", '90 european civilians, many women & children, were placed on the deck of a japanese submarine that submerged when it was well offshore', 'a 210-ton brig was sunk by a japanese submarine. some of the survivors were machine-gunned & some were taken by sharks', 'a 75-ton  japanese fishing ship was sunk by  chinese nationalist gunboat, shipwrecked men were clinging to debris', 'a barque wrecked', "a corsair's boat was overturned", 'a dhow capsized', 'a father bathing his smallest daughter when the shark bumped her out of his arms and carried her into deep water', 'a group of survivors on a raft for 17-days', 'a junk foundered', 'abalone diving', 'abalone diving using hookah (near calving whales)', 'abalone diving using hookah (resting on the surface)', 'abandoning burning ship captain george in raging seas', 'abandoning burning steamship don juan', 'accidentally dragged overboard from the sampan holokahana into school of yellowfin tuna', "accidentally stood on hooked shark's tail before attempting to gut it ", 'accidentally thrown overboard & treading water while awaiting rescue', 'adrift after ditching plane in the sea', 'adrift after the sinking of the motor yacht princess dianne', 'adrift after wave swamped engine', 'adrift in a life jacket', "adrift on a 4'  raft for 32 days", 'adrift on a raft ', 'adrift on life raft', 'adrift on raft', 'adrift on raft after their ship was sunk by an axis raider ', 'adrift on refugee raft', "adrift, hanging onto cushion, after his 17' skiff ran out of gas & capsized 3 miles from shore", 'after rowing skiff was holed by shark, he was attempting to swim ashore', 'air disaster', 'air disaster - piper aircraft crashed into the sea, killing all on board', 'air disaster. flash airlines boeing 737 crashed into the red sea', 'air disaster: crash of air france super constellation ', 'air/sea disaster', 'air/sea disaster involving c-54 air force transport no. 2686 with 37 on board', 'air/sea disaster pan-american airlines stratocruiser with 44 people onboard crashed into the sea', 'aircaft exploded', 'aircraft crashed into sea', 'aircraft ditched in the sea, swimming ashore', 'aircraft exploded', 'american cruiser indianapolis torpedoed & sunk by the japanese submarine i-58', 'american freighter mormackite, bound from buenos aires for baltimore, capsized & sank in heavy seas', 'american minesweeper uss yms-350 lost in a typhoon - swimming to shore', 'american minesweeper uss yms-472 foundered in a typhoon - swimming to shore', 'american schooner orator capsized  ', 'among 31 survivors of crew from the sampan fukulya maru (which reached thursday island in rowing boat) was a man whose arm had been bitten off by shark. the sampan wrecked west of mcarthur island ', 'angling', 'anti-aircraft cruiser uss atlanta (cl,-05) travelling in convoy after the battle of midway, encountered a japanese flotilla  (battle of guadalcanal) &, heavily damaged by gunfire, she was lost off lunga point. victim was swimming when bitten.', 'anti-sabotage night dive exercise alongside destroyer (scuba diving)', 'argentine air force c-54', 'arsinoe, a french tanker', 'ascending from a dive', 'attaching a line at sea', 'attacked shark with fists', 'attempted to return injured shark to the sea', 'attempting to anesthetize shark', 'attempting to attract dolphins', 'attempting to catch a crocodile', 'attempting to chase shark out to sea', 'attempting to drag hooked shark ashore by its tail', 'attempting to drive shark away from sailing regatta', 'attempting to drive shark away from the beach', 'attempting to drive shark from area', 'attempting to escape by swimming to shore', 'attempting to fix motor', 'attempting to free the shark', 'attempting to illegally enter the usa', 'attempting to kill a shark with explosives', 'attempting to kite surf from egypt to saudi arabia', 'attempting to land a boat from the hinemoa', 'attempting to lasso a shark', "attempting to lasso shark's tail", 'attempting to net shark in shark channel', 'attempting to remove fishing net from submerged object', 'attempting to rescue a shark', 'attempting to rescue an injured & beached shark', 'attempting to rescue crew after whale upset their boat', 'attempting to rescue drowning man', 'attempting to rescue shipmate', 'attempting to rescue woman seized by shark', 'attempting to retreive a dinghy', 'attempting to ride a shark', 'attempting to set underwater endurance record', 'attempting to swim across the atlantic ocean', 'b-24 aircraft crashed  into the sea', 'b-24 crashed during a search mission. survivors in raft for 47 days ', 'baiting sharks', 'bather', 'bathing', 'bathing ', 'bathing / standing', 'bathing alongside ship', 'bathing alongside the american ship thomas w. sears', 'bathing alongside us naval ship', 'bathing close inshore', 'bathing in 2 feet of water', "bathing in 3' to 4' of water", "bathing in 5' of water", 'bathing in knee-deep water', 'bathing in river', 'bathing in waist-deep water', 'bathing in water 0.9 m deep', 'bathing near whaling ship (bark a. r. tucker of new bedford, massachusetts)', 'bathing or body surfing ', 'bathing or washing', 'bathing with her mother', 'bathing with sister', 'bathing/swimming', 'batin', 'beach seine netting', 'being pulled to shore from wreck of 25-ton fishing vessel alan s', 'bending over', 'bitten after dhow shipwrecked', 'bitten while cutting shark from net', 'board sailing', 'boarding a ship', 'boat', 'boat capsized', "boat capsized between o'ahu & molokai", 'boat capsized during filming', 'boat capsized, clinging to line', 'boat capsized, swimming ashore', 'boat capsized, swimming to shore', 'boat capsized?', 'boat exploded', 'boat from city of naples capsized', 'boat from ship josephine capsized in squall', 'boat from the austrian ship elizabeth', 'boat miss becky  sank 12 miles from shore', 'boat of a hawaiian brig was stove in by  whale', 'boat of the resolution capsized in the breakers', 'boat stopped to repair electric pump', 'boat swamped', 'boat with 46 people on board capsized', 'boat with 5 men capsized while returning to the amerique', 'boat, with 42 passengers onboard, capsized in rough seas', 'boating', 'body boarding', 'body boarding ', 'body boarding or surfing', 'body found floating next to his ship', 'body found on deserted luxury yacht, 38‚Äô christine', 'body surfing', 'body surfing ', 'body surfing & treading water', 'body surfing / treading water', 'body surfing or body boarding', 'body surfing or boogie boarding', 'body surfing, stood up on sandbar', 'body surfing?', 'body-boarding', 'body-surfing', 'bodyboarding', 'bodysurfing', 'boeing 757 enroute from porta plata plunged into the sea', 'boggie boarding', 'boogie boarding', 'boogie boarding / wading', 'boogie boarding or surfing', 'boogie boarding, kicked at object in the water', 'boogie-boarding / swimming', 'bottom fishing for lingcod & had hooked a fish', 'bringing hooked, harpooned shark onboard boat', 'british cruiser dunedin torpedoed & sunk by the u-124', 'british patrol boat 1250-ton hms  valerian foundered in a hurricane', 'british ship macedon was thrown on her beam ends by a sudden squall', 'british ship, britannia,  was loading lumber. he was bathing', 'burning of the s.s. missouri', 'c47 aircraft carrying 5,000 lbs of ice ditched in the sea', 'cage diving', 'canoe capsized by shark', 'canoe capsized with 10 occupants, 8 survived,  hamilton swam off to seek help', 'canoe swamped', 'canoe swamped, swimming back to canoe', 'canoe with 3 men onboard sank', 'canoeing', 'capsized fishing boat', "captured allied soldiers were squeezed into 3' bamboo pig baskets & fed to waiting sharks", 'cargo ship dara sank after collision with another ship during a severe storm', 'cargo ship el gamil entroute suez to yemen (aden) when her cargo shifted and she sank. 19 egyption sailors jumped into the water and swam for several hours before being bitten by sharks', 'cargo ship southern isle sank at 04h00', 'carrying a supposedly dead shark by its mouth', 'casting a net', 'catching a turtle', 'catching crabs', 'catching sardines', 'catching sharks under government contract', 'chasing shark out of bathing area while riding on a surf-ski', 'checking fish traps, fell into the water', 'chumming for sharks', 'chumming for white sharks', 'clamming', 'cleaning a tank', 'cleaning fish', 'cleaning hull of ship ', 'cleaning the side of a ship', 'climbing back on ship', 'clinging to overturned rowing boat', 'clinging to shipwrecked junk', 'closed circuit diving (submerged). diving to recover jettisoned packets of opium for police', 'collecting aquarium specimens', 'collecting beche-de-mer', 'collecting crayfish', 'collecting dynamited fish', 'collecting fish ', 'collecting fish by lamplight in gully', 'collecting fish from net', 'collecting fish in military trap when bitten by captured shark that had been shot by soldiers with garten', 'collecting marine specimens', 'collecting ornamental fish', 'collecting shells', 'colombian  (avianca) dc-4 airliner plunged into the sea 5 minutes after takeoff', 'columbian petrol barge rio atrato burned and sank', 'coming ashore on a hawser', 'commercial diver (submerged or treading water)', 'commercial fishing vessel, ev-nn, struck object & sank. ken crosby and  jame & ann dumas adrift on makeshift raft.', 'commercial salvage diving', 'commercial spearfishing', 'competing in a light tackle game fishing', 'competing in spearfishing championship & towing dead fish', 'competing in the woodvale atlantic rowing race', "competing in u/w endurance record, standing beside drum in 10' of water", 'conch diver', 'conducting a promotional film project for the gemini space program (a practice astronaut recovery)', 'conducting research', 'copra vessel with 19 on board was wrecked in a squall', 'crabbing', 'crabbing (spearing crabs)', 'crawling', 'crayfishing', 'crew swimming alongside their anchored ship', 'crossing inlet in a boat, seen fighting sharks with his oar, sharks smashed boat', 'crossing river on a raft', 'crossing the bay at the ford', 'crossing the river mouth', "crouching in 2' of water", 'crouching in the water', 'cruising', 'cutter capsized', 'dangling feet in the water', "days before the surrender of singapore, the 3 men escaped to sumatra where they acquired a 17' dinghy. after 125 days at sea they drifted back to sumatra", 'defecating in water beneath the docks', 'deserting the bark nazarene', 'disappeared 11 days earlier, probable homicide victim', 'dismantling cable buoys of the cable ship all america', 'ditched aircraft, 3 men in the water. swam for 31 hours', 'ditched plane in the sea & were adrift on a rubber life raft. ', 'dived for a coin', 'dived from dinghy to retrieve oar in heavy seas', 'dived from inner-tube', 'dived into a school of baitfish', 'dived into sea from launch & bitten immediately', 'dived into the water', 'dived naked into the water on a bet', 'dived onto shark from floating stage', 'dived overboard & was swimming near stern of trawler', 'dived overboard to check propeller of us navy motor torpedo boat', 'dived overboard to retrieve dinghy', 'diving', 'diving ', 'diving & fishing with net', 'diving & force-feeding the shark', 'diving (helmet) for sponges', 'diving (hookah)', 'diving (shell maintenance)', 'diving / filming', 'diving / fishing', 'diving / kissing the shark', 'diving / uw photography', 'diving alongsidethe steamship ranelagh ', 'diving around anchored liner', 'diving by wharf', 'diving for abalone', 'diving for abalone ', 'diving for abalone (hookah)', 'diving for abalone (hookah, submerged)', 'diving for abalone (scuba)', 'diving for abaone (scuba, but at surface)', 'diving for beche-de-mer', 'diving for beche-de-mer ', 'diving for beche-de-mer from lugger', 'diving for coins', 'diving for coins thrown from ship s.s. moeraki', 'diving for coins tossed from passenger ship', 'diving for crayfish', 'diving for lobsters', 'diving for pearl', 'diving for pearl shell', 'diving for pearls', 'diving for pen shells', 'diving for sand dollars', 'diving for sea urchins', 'diving for shells, saw shark circling wife near the surface, intercepted shark & it pulled him beneath the water', 'diving for sinkers', 'diving for sponges', 'diving for trepang', 'diving for trochus', "diving for trochus  from dinghy when seized by shark 6' below the surface", 'diving for trochus , but swimming on surface', 'diving for trochus from lugger', 'diving for trochus shell', 'diving from canoe', 'diving from dinghy for trochus shell', 'diving from lugger', 'diving from the lugger san, operated by the protector of the aborigines', 'diving in aquarium display tank', 'diving in shark tank', "diving in sharkey's reef restaurant‚Äôs aquarium", 'diving in tuna net', 'diving into water', 'diving off jetty', 'diving off pier & treading water', 'diving off wharf', 'diving on a wreck', "diving to untangle a crab trap line from boat's propeller", 'diving with  surface-supplied air', 'diving, attempting to retrieve body of drowning victim wedged between rocks', 'diving, but on the surface when bitten by the shark', 'diving, feeding sharks', 'diving, gathering shellfish', 'diving, photographing sharks', 'diving, recovering fish killed by dynamite', "diving, repairing water main at depth of 90'", 'diving, retrieving film package from titan 3c rocket', 'diving, retrieving fish caught in net ', 'diving. shark ‚Äúswallowed‚Äô his hand, so he threw his other around the shark and went ‚Äúshark-back riding‚Äù for 30 yards until the shark opened its jaws', 'diving/shark feeding', 'diving?', 'dog paddling or standing', 'dragging a shark', 'dragging banana seeds through the shallows', 'dragging stranded shark ashore', 'dragging stranded shark into deeper water', 'dress diving', 'dress diving, filming shark & pulling it through the water for a motion picture scene', 'drift fishing', 'dropped overboard', 'dropping anchor', 'dry shelling', 'during "an exhibition" he was tied in sack & thrown overboard ', "during a shark fishing tournament, the 18' boatem was capsized by waves, throwing 3 men into the water ", 'dutch merchant ship zaandam torpedoed  by the u-174 amidships, sank & dozens of survivors took to rafts & boats. one man, izzi, who drifted 83 days on a raft related that sharks attacked many men in the water when the ship went down', 'dynamite fishing', 'dynamiting fish', 'ejected from f3h-2 aircraft ', 'escaping from alacatraz', 'escaping from blackbirding vessel', 'esso bolivar was torpedoed & shelled by the german submarine u-126', 'examining netted shark, that had been shot', 'exercising his dog in the shallows', 'explosion & sinking of the uss juneau after being torpedoed by the submarine  i-85', "explosion destroyed 28' boat, survivors in the water ", 'feeding a shark', 'feeding fish', 'feeding mullet to sharks', 'feeding prawns to captive sharks', 'feeding sharks', 'feeding sharks & stingrays', 'feeding stingrays?', 'feeling the shark‚Äôs teeth', 'fell from cliff while fishing & disappeared in strong current', "fell from his father's back into the water", 'fell from the jetty', 'fell from wharf into water & attacked immediately', 'fell from yardarm of british ship rover', 'fell into the water', 'fell into water while attempting to boat a swordfish', 'fell off aircraft carrier', 'fell off banana boat', 'fell off fishing boat', 'fell off surf ski', "fell off surfboard 20' from shore", 'fell onto dead shark', 'fell or jumped overboard from the liner rhynland', 'fell oveboard', 'fell oveboard from steamer wanderer', 'fell overboard', 'fell overboard ', 'fell overboard  from the taiwanese fishing trawler lien cheng feu ', 'fell overboard & rescuer', 'fell overboard & swimming', 'fell overboard from a frigate & was swallowed by a shark. the captain fired a gun at the shark, and "the creature cast the man out of his throat."', 'fell overboard from fishing schooner halycon', 'fell overboard from p&o steamship arabia', 'fell overboard from sponge vessel', 'fell overboard from ss ripley castle', 'fell overboard from steamship rio grande', 'fell overboard from the malacca', 'fell overboard from the selim', 'fell overboard from the ship gem', 'fell overboard from the sobella', 'fell overboard from the steamship chala', 'fell overboard from us navy pc boat', 'fell overboard from uss cruiser tacoma', 'fell overboard from uss ward', 'fell overboard while fishing for sharks', 'fell overboard, hanging onto lifebuoy', 'fell overboard, prop slashed arm', 'fell overboard?', 'ferry boat dona paz with 4431 passengers exploded & caught fire when she collided with an  oil tanker ', 'ferry boat sank', 'ferry capsized', 'fihing', 'filming', 'filming & feeding captive sharks', "filming 5' blue shark", 'filming a documentary', 'filming underwater, carrying powerhead', 'finning the shark', 'finning the shark that bit him', 'fisherman', 'fishing', 'fishing ', 'fishing  (trawling)', 'fishing & spearfishing', 'fishing (big game)', 'fishing (drowned 2-apr-2002)', 'fishing (illegally)', 'fishing (rod & line)', 'fishing (seining)', 'fishing (trolling)', 'fishing (trolling)  from canoe', "fishing - 'tag & release'", 'fishing / cleaning fish, dived into water to retrieve a lost fish', 'fishing / diving', 'fishing / filming sharks feeding on whale carcass', 'fishing / standing in waist deep water', 'fishing / wading', 'fishing / washing bait off hands', 'fishing boat', 'fishing boat capsized ', 'fishing boat exploded & sank', 'fishing boat swamped in a storm', 'fishing boat swamped in storm', 'fishing boat with 4 men on board was rammed & capsized by  a shark, throwing all occupants into the water', 'fishing for albacore', 'fishing for basking sharks', 'fishing for blue sharks', 'fishing for bluefish', 'fishing for bluefish, shark leapt into dory', 'fishing for bottom fish', 'fishing for cod', 'fishing for kob', 'fishing for lobsters', 'fishing for mackerel', 'fishing for octopus', 'fishing for perch', 'fishing for pompano', 'fishing for prawns', 'fishing for red fish', 'fishing for rock lobster', 'fishing for rock lobsters', 'fishing for sharks', 'fishing for sharks when he became entangled in net & fell overboard', 'fishing for shrimp', 'fishing for snapper', 'fishing for snappers & cleaning mullet. put mullet over side of boat to wash it', 'fish

#surfing_dict_pattern = {'.*kayak.*': 'kayaking', '.*boat.*': 'boating'}

#shark_attacks['Activity'] = shark_attacks['Activity'].replace(surfing_dict_pattern, regex = True)#.fillna('unk')

surfing_dict = {'boating': 'boating', 'surfing': 'surfing', 'surfng': 'surfing', 'surf': 'surfing', 'surfboard': 'surfing', 
'surfingboard': 'surfing', 'surfinging': 'surfing', 'kitesurfing': 'kite', 'kite-surfing': 'kite', 
'kite surfing': 'kite', 'surfing-sking': 'wakeboarding', 'surfing skiing': 'wakeboarding', 
'surfing bathing': 'surfing', 'winsurfing': 'windsurf', 'diving with  surfingace-supplied air': 'diving', 
'washed off catamaran in the surfing': 'sailing', 'skin diving for trepang but at surfingace next': 'surfing', 
'surfing the boat': 'sailing', 'surfingace supplied  diving': 'diving', 'wing foil surfing': 'wing foiling', 
'body surfing': 'surfing','paddle boarding': 'paddling', 'surfing fishing': 'surfing', 
'riding waves on a board': 'surfing', 'walking out of the water after surfing': 'walking', 'kneeboard': 'surfing', 
'(surfingacing)': 'surfing', 'boardin': 'surfing', 'boarding': 'surfing', 'body-boarding': 'surfing', 
'body-surfing': 'surfing', 'sitting': 'surfing', 'surfing-fishing': 'surfing', 'surfing-ski': 'skyboarding',
'surfingace': 'surfing', 'surfingace': 'surfing', 'surfingski': 'skiboarding', 'wading': 'wading', 
'wreck': 'wreck', 'swimming': 'swimming', 'standing': 'bathing', 'spearfishing': 'spearfishing',
'snorkeling': 'snorkeling', 'scuba': 'scuba diving', 'pearl': 'pearl fishing', 'overboard': 'overboard',
'netting': 'netting', 'kayaking': 'kayaking', 'kayak': 'kayaking', 'jumped': 'overboard', 
'freediving': 'freediving', 'free': 'freediving', 'fishing': 'fishing', 'fishing,': 'fishing', 
'fishing?': 'fishing', 'floating': 'bathing', 'fish': 'fishing', 'fell': 'overboard', 
'diving,': 'diving', 'diving': 'diving', 'dived': 'diving', 'capsized': 'capsized', 'canoe': 'canoeing', 
'boogie': 'boogie', 'boat': 'boating', 'bathing': 'bathing', 'aircraft': 'aircraft crash',
'surfing & filming dolphins': 'surfing', 'surfing & treading water': 'surfing', 
'surfing (or sailsurfingg)': 'surfing', 'surfing (pneumatic surfing)': 'surfing',
'surfing & dangling foot in water amid baitfishing': 'surfing', 'surfing (surfing on his board)': 'surfing',
'surfing / swimming': 'surfing', 'surfing / treading water': 'surfing', 'surfing / wading': 'surfing',
'surfing amid a shoal of sharks': 'surfing', "surfing in 3' of water": 'surfing', 'surfing in a boating': 'wake',
'surfing in bow of her fathers 5 m boating': 'boating', 'surfing in shallows': 'surfing', 
'surfing in the water': 'surfing', 'surfing on chest board (boogie board?)': 'surfing', 
'surfing on air mattress': 'boggie', 'surfing on gunwale of boating': 'wake', 
'surfing on side of dinghy mending a net': 'surfing', 'surfing on surfing': 'surfing', 'surfing or body surfingg': 'surfing', 
'surfing or boogie surfingg': 'surfing', 'surfing or surfing': 'surfing', 
'surfing paddling': 'surfing', 'surfing to the boating': 'wake', 
'surfing with dolphins': 'surfing', 'surfing, but bathing in water alongside board': 'surfing', 
'surfing, but lying prone on his board': 'surfing', 'surfing, but swimming to his board': 'surfing', 
'surfing, but treading water': 'surfing', 'surfing, collided with shark': 'surfing', 
'surfing, collided with shark': 'surfing', 'surfing, lying on surfing': 'surfing', 
'surfing, overboard off surfing': 'surfing', 'surfing, overboard off surfing & stepped on the shark.': 'surfing', 
'surfing, paddling seawards': 'surfing', 'surfing, paddling shorewards': 'surfing', 
'surfing, pushing board ashore': 'surfing', 'surfing, stood up on sandbar': 'surfing', 
'surfing, surfing on board': 'surfing', 'surfing?': 'surfing', 'surfingg': 'surfing', 'surfingg a ship': 'wake'}


with open('my_dict.pickle', 'wb') as f:
    pickle.dump(my_dict, f)

In [43]:
print(surfing_dict)

{'boating': 'boating', 'surfing': 'surfing', 'surfng': 'surfing', 'surf': 'surfing', 'surfboard': 'surfing', 'surfingboard': 'surfing', 'surfinging': 'surfing', 'kitesurfing': 'kite', 'kite-surfing': 'kite', 'kite surfing': 'kite', 'surfing-sking': 'wakeboarding', 'surfing skiing': 'wakeboarding', 'surfing bathing': 'surfing', 'winsurfing': 'windsurf', 'diving with  surfingace-supplied air': 'diving', 'washed off catamaran in the surfing': 'sailing', 'skin diving for trepang but at surfingace next': 'surfing', 'surfing the boat': 'sailing', 'surfingace supplied  diving': 'diving', 'wing foil surfing': 'wing foiling', 'body surfing': 'surfing', 'paddle boarding': 'paddling', 'surfing fishing': 'surfing', 'riding waves on a board': 'surfing', 'walking out of the water after surfing': 'walking', 'kneeboard': 'surfing', '(surfingacing)': 'surfing', 'boardin': 'surfing', 'boarding': 'surfing', 'body-boarding': 'surfing', 'body-surfing': 'surfing', 'sitting': 'surfing', 'surfing-fishing': 'surfing', 'surfing-ski': 'skyboarding', 'surfingace': 'surfing', 'surfingski': 'skiboarding', 'wading': 'wading', 'wreck': 'wreck', 'swimming': 'swimming', 'standing': 'bathing', 'spearfishing': 'spearfishing', 'snorkeling': 'snorkeling', 'scuba': 'scuba diving', 'pearl': 'pearl fishing', 'overboard': 'overboard', 'netting': 'netting', 'kayaking': 'kayaking', 'kayak': 'kayaking', 'jumped': 'overboard', 'freediving': 'freediving', 'free': 'freediving', 'fishing': 'fishing', 'fishing,': 'fishing', 'fishing?': 'fishing', 'floating': 'bathing', 'fish': 'fishing', 'fell': 'overboard', 'diving,': 'diving', 'diving': 'diving', 'dived': 'diving', 'capsized': 'capsized', 'canoe': 'canoeing', 'boogie': 'boogie', 'boat': 'boating', 'bathing': 'bathing', 'aircraft': 'aircraft crash', 'surfing & filming dolphins': 'surfing', 'surfing & treading water': 'surfing', 'surfing (or sailsurfingg)': 'surfing', 'surfing (pneumatic surfing)': 'surfing', 'surfing & dangling foot in water amid baitfishing': 'surfing', 'surfing (surfing on his board)': 'surfing', 'surfing / swimming': 'surfing', 'surfing / treading water': 'surfing', 'surfing / wading': 'surfing', 'surfing amid a shoal of sharks': 'surfing', "surfing in 3' of water": 'surfing', 'surfing in a boating': 'wake', 'surfing in bow of her fathers 5 m boating': 'boating', 'surfing in shallows': 'surfing', 'surfing in the water': 'surfing', 'surfing on chest board (boogie board?)': 'surfing', 'surfing on air mattress': 'boggie', 'surfing on gunwale of boating': 'wake', 'surfing on side of dinghy mending a net': 'surfing', 'surfing on surfing': 'surfing', 'surfing or body surfingg': 'surfing', 'surfing or boogie surfingg': 'surfing', 'surfing or surfing': 'surfing', 'surfing paddling': 'surfing', 'surfing to the boating': 'wake', 'surfing with dolphins': 'surfing', 'surfing, but bathing in water alongside board': 'surfing', 'surfing, but lying prone on his board': 'surfing', 'surfing, but swimming to his board': 'surfing', 'surfing, but treading water': 'surfing', 'surfing, collided with shark': 'surfing', 'surfing, lying on surfing': 'surfing', 'surfing, overboard off surfing': 'surfing', 'surfing, overboard off surfing & stepped on the shark.': 'surfing', 'surfing, paddling seawards': 'surfing', 'surfing, paddling shorewards': 'surfing', 'surfing, pushing board ashore': 'surfing', 'surfing, stood up on sandbar': 'surfing', 'surfing, surfing on board': 'surfing', 'surfing?': 'surfing', 'surfingg': 'surfing', 'surfingg a ship': 'wake'}

In [44]:
shark_attacks['Activity'] = shark_attacks['Activity'].map(surfing_dict).fillna('unk')

In [45]:
print(sorted(shark_attacks['Activity'].unique()))

['bathing', 'boating', 'boggie', 'diving', 'fishing', 'freediving', 'kayaking', 'kite', 'paddling', 'snorkeling', 'spearfishing', 'surfing', 'swimming', 'unk', 'wading', 'walking', 'wing foiling']

In [46]:
shark_attacks['Activity'].value_counts(True) * 100

unk             44.546784
surfing         17.163743
swimming        13.947368
fishing          7.017544
spearfishing     5.467836
bathing          4.254386
wading           2.456140
diving           2.061404
snorkeling       1.798246
kayaking         0.570175
kite             0.204678
paddling         0.160819
freediving       0.146199
boating          0.116959
walking          0.043860
wing foiling     0.029240
boggie           0.014620
Name: Activity, dtype: float64

In [47]:
print(len(shark_attacks['Activity']))

6840

In [48]:
#check how many times the the word surfing appear in Activiy column now appear
count_surfing = shark_attacks['Activity'].str.count('surfing').sum()
print(count_surfing)

1174

In [49]:
shark_attacks.head(10)

,Year,Country,Area,Location,Activity,Sex,Age,Fatal (Y/N)
0,2023.0,USA,Florida,"Blue Fish Channel, Key West, Monroe County",kite,M,67,N
1,2023.0,AUSTRALIA,Western Australia,Delta Island,wading,M,-1,N
2,2023.0,USA,Hawaii,Anaehoomalu Bay,swimming,M,60,N
3,2023.0,MEXICO,Quintana Roo,Canc√∫n,swimming,M,10,N
4,2023.0,AUSTRALIA,Western Australia,Cheynes Beach,unk,F,-1,N
5,2023.0,BRAZIL,Pernambuco,Piedade Beach,swimming,F,15,N
6,2023.0,BRAZIL,Pernambuco,Piedade Beach,swimming,M,14,N
7,2023.0,SEYCHELLES,Praslin Island,NaN,snorkeling,M,6,NaN
8,2023.0,BRAZIL,Pernambuco,Praia de Milagres,surfing,M,32,N
9,2023.0,NEW CALEDONIA,South Province,"Ch√¢teau-Royal Beach , Noumea",swimming,M,59,F

###  AGE X SURFERS

In [50]:
#create a new column with the age groups
def age_group(age):
    """use conditionals to determine if x age belongs to x_age_group
    exemple: input: 35 years
             output: young adult group"""
    if age <= 0:
        return 'No Class'
    elif age <= 19:
        return 'Youth'
    elif age <= 40:
        return 'Young Adult'
    elif age < 61:
        return 'Adult'
    else:
        return 'Elderly'

In [51]:
shark_attacks.insert(7, 'Age Group', shark_attacks['Age'].apply(age_group))

In [52]:
shark_attacks['Age'] = shark_attacks['Age'].replace(-1, 'unk')

In [53]:
shark_attacks.head(5)

,Year,Country,Area,Location,Activity,Sex,Age,Age Group,Fatal (Y/N)
0,2023.0,USA,Florida,"Blue Fish Channel, Key West, Monroe County",kite,M,67,Elderly,N
1,2023.0,AUSTRALIA,Western Australia,Delta Island,wading,M,unk,No Class,N
2,2023.0,USA,Hawaii,Anaehoomalu Bay,swimming,M,60,Adult,N
3,2023.0,MEXICO,Quintana Roo,Canc√∫n,swimming,M,10,Youth,N
4,2023.0,AUSTRALIA,Western Australia,Cheynes Beach,unk,F,unk,No Class,N

### Fatal

In [54]:
shark_attacks['Fatal (Y/N)']

0       N
1       N
2       N
3       N
4       N
       ..
6835    Y
6836    Y
6837    Y
6838    Y
6839    Y
Name: Fatal (Y/N), Length: 6840, dtype: object

In [55]:
shark_attacks['Fatal (Y/N)'] = shark_attacks['Fatal (Y/N)'].str.upper()

In [56]:
#remove spaces
shark_attacks['Fatal (Y/N)'] = shark_attacks['Fatal (Y/N)'].str.replace(' ', '')

In [57]:
print(shark_attacks['Fatal (Y/N)'].unique().tolist())

['N', nan, 'F', 'Y', 'M', 'NQ', 'UNKNOWN', 'YX2']

In [58]:
#check how many NaN in column Sex
nan_sum_fatal = shark_attacks['Fatal (Y/N)'].isna().sum()
nan_sum_fatal

559

In [59]:
shark_attacks['Fatal (Y/N)'].fillna('unk', inplace = True)

In [60]:
unk_words_fatal = {'F': 'Y', 'UNKNOWN': 'unk', 'YX2': 'Y', 'M': 'unk', 'NQ': 'unk'}
shark_attacks['Fatal (Y/N)'] = shark_attacks['Fatal (Y/N)'].replace(unk_words_fatal)

In [61]:
differnet_fatal = shark_attacks.loc[~shark_attacks['Fatal (Y/N)'].isin(['Y', 'N']), 'Fatal (Y/N)']
unique_different_fatal = differnet_fatal.unique()
print(unique_different_fatal)

['unk']

In [62]:
print(shark_attacks['Fatal (Y/N)'].unique().tolist())

['N', 'unk', 'Y']

In [63]:
count_n_fatal = shark_attacks['Fatal (Y/N)'].str.count('N').sum()
count_y_fatal = shark_attacks['Fatal (Y/N)'].str.count('Y').sum()
count_u_fatal = shark_attacks['Fatal (Y/N)'].str.count('unk').sum()

print(f'According to data that have been colected worldwide, in the last 200 years {count_y_fatal} people were killed by sharks and {count_n_fatal} were attacked but survived.\nThere is also {count_u_fatal} reported cases of unkown outcome.')
print(count_n_fatal + count_y_fatal + count_u_fatal)

According to data that have been colected worldwide, in the last 200 years 1447 people were killed by sharks and 4760 were attacked but survived.
There is also 633 reported cases of unkown outcome.
6840

### Country

In [64]:
shark_attacks['Country'] = shark_attacks['Country'].str.upper()

In [65]:
count_brazil = shark_attacks['Country'].str.count('BRAZIL').sum()
print(count_brazil)

122.0

In [66]:
print(shark_attacks['Country'].unique().tolist())

['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'SEYCHELLES', 'NEW CALEDONIA', 'ARGENTINA', 'FIJI', 'SOUTH AFRICA', 'BAHAMAS', 'ENGLAND', 'JAPAN', 'INDONESIA', 'EGYPT', 'JA MAICA', 'BELIZE', 'MALDIVES', 'FRENCH POLYNESIA', 'THAILAND', 'COLUMBIA', 'NEW ZEALAND', 'COSTA RICA', 'BRITISH OVERSEAS TERRITORY', 'CANADA', 'ECUADOR', 'JORDAN', 'JAMAICA', 'ST KITTS / NEVIS', 'ST MARTIN', 'SPAIN', 'PAPUA NEW GUINEA', 'REUNION ISLAND', 'ISRAEL', 'CHINA', 'SAMOA', 'IRELAND', 'ITALY', 'COLOMBIA', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS', 'SOLOMON ISLANDS', 'ST HELENA, BRITISH OVERSEAS TERRITORY', 'COMOROS', 'REUNION', 'UNITED KINGDOM', 'UNITED ARAB EMIRATES', 'PHILIPPINES', 'CAPE VERDE', 'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'PUERTO RICO', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'DIEGO GARCIA', 'TAIWAN', 'PALESTINIAN TERRITORIES', 'GUAM', 'NIGERIA', 'TONGA', 'SCOTLAND', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA', 'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES', 'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA', 'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL', 'YEMEN', 'GULF OF ADEN', 'SIERRA LEONE', 'ST. MAARTIN', 'GRAND CAYMAN', 'LIBERIA', 'VANUATU', 'MEXICO ', 'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA', 'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA', 'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA', 'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO', 'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL', 'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA', 'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY', 'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND', 'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA', 'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA', 'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES', 'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN', 'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS', 'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE', 'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES', 'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC', 'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN', 'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO', 'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA', 'HAITI', 'SAN DOMINGO', 'KUWAIT', 'YEMEN ', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ', 'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY', 'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA', 'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS', 'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU', 'AFRICA', 'ALGERIA', 'COAST OF AFRICA', 'TASMAN SEA', 'GHANA', 'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN', 'BETWEEN PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA', 'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)']

In [67]:
#check how many NaN in column Country
nan_sum_country = shark_attacks['Country'].isna().sum()
nan_sum_country

50

In [68]:
shark_attacks['Country'].fillna('UNK', inplace = True)

In [69]:
country_dict = {'JA MAICA': 'JAMAICA', 'BRITISH OVERSEAS TERRITORY': 'UNK', 
'ST KITTS / NEVIS': 'ST. KITTS AND NEVIS', 'COLUMBIA': 'COLOMBIA', 'ST HELENA, BRITISH OVERSEAS TERRITORY': 'UNITED KINGDOW',
'REUNION': 'REUNION ISLAND', 'ATLANTIC OCEAN': 'UNK', 'PALESTINIAN TERRITORIES': 'PALESTINE', 
'UNITED ARAB EMIRATES (UAE)': 'UNITED ARAB EMIRATES', 'NEVIS': 'ST. KITTS AND NEVIS', 'ST. MAARTIN': 'ST. MARTIN',
'MEXICO ': 'MEXICO', ' TONGA': 'TONGA', 'CARIBBEAN SEA': 'UNK', 'EGYPT / ISRAEL': 'UNK', 'NORTHERN ARABIAN SEA': 'UNITED ARAB EMIRATES',
'NORTH ATLANTIC OCEAN': 'UNK', 'SOUTH CHINA SEA': 'CHINA', 'WESTERN SAMOA': 'SAMOA', 'PACIFIC OCEAN ': 'UNK', 
'BRITISH ISLES': 'UNITED KINGDOWM', 'NEW BRITAIN': 'UNITED KINGDOWM', 'SOUTH PACIFIC OCEAN': 'UNK', 'NEW GUINEA': 'PAPUA NEW GUINEA',
'RED SEA': 'UNK', 'NORTH PACIFIC OCEAN': 'UNK', 'FEDERATED STATES OF MICRONESIA': 'MICRONESIA', 
'MID ATLANTIC OCEAN': 'UNK', 'BRITISH WEST INDIES': 'UNITED KINGDOWM', 'SOUTH ATLANTIC OCEAN': 'UNK',
'PERSIAN GULF': 'UNK', 'RED SEA / INDIAN OCEAN': 'UNK', 'PACIFIC OCEAN': 'UNK', 'NORTH SEA': 'UNK', 
'NICARAGUA ': 'NICARAGUA' , 'MALDIVE ISLANDS': 'MALDIVES' , 'AMERICAN SAMOA': 'SAMOA', 'ANDAMAN / NICOBAR ISLANDAS': 'INDIA',
'NORTH ATLANTIC OCEAN ': 'UNK', 'THE BALKANS': 'UNK', 'SUDAN?': 'SUDAN', 'INDIAN OCEAN': 'UNK', 'NORTHERN MARIANA ISLANDS': 'UNITED STATES OF AMERICA',
'IRAN / IRAQ': 'UNK', 'CENTRAL PACIFIC': 'UNK', 'SOLOMON ISLANDS / VANUATU': 'SOLOMON ISLANDS', 
'SOUTHWEST PACIFIC OCEAN': 'UNK', 'BAY OF BENGAL': 'INDIA', 'MID-PACIFC OCEAN': 'UNK', 
'ITALY / CROATIA': 'UNK', 'FALKLAND ISLANDS': 'UNITED KINGDOWM', 'WEST INDIES': 'UNK', 'BRITISH NEW GUINEA': 'UNITED KINGDOWM',
'OCEAN': 'UNK', 'INDIAN OCEAN?': 'UNK', 'GUINEA': 'PAPUA NEW GUINEA', 'ANDAMAN ISLANDS': 'INDIA', 'EQUATORIAL GUINEA / CAMEROON': 'PAPUA NEW GUINEA',
'COAST OF AFRICA': 'AFRICA', 'TASMAN SEA': 'TASMANIA', 'MEDITERRANEAN SEA': 'UNK', 'BETWEEN PORTUGAL & INDIA': 'UNK', 
'RED SEA?': 'UNK', 'ASIA?': 'UNK', 'CEYLON (SRI LANKA)': 'SRI LANKA', 'TURKS & CAICOS': 'UNITED KINGDOM', 'USA': 'UNITED STATES OF AMERICA',
 'DIEGO GARCIA': 'UNITED KINGDOM', 'GULF OF ADEN': 'UNK', 'GRAND CAYMAN': 'UNITED KINGDOM', 'JOHNSTON ISLAND': 'UNITED STATES OF AMERICA',
  'ADMIRALTY ISLANDS': 'PAPUA NEW GUINE', 'MAYOTTE': 'FRANCE', 'NETHERLANDS ANTILLES': 'NETHERLANDS', 
 'SAN DOMINGO': 'DOMINICAN REPUBLIC', 'CRETE': 'GREECE', }

In [70]:
shark_attacks['Country'] = shark_attacks['Country'].replace(country_dict)

shark_attacks['Country'] = shark_attacks['Country'].map(country_dict).fillna('UNK')

In [71]:
print(shark_attacks['Country'].unique().tolist())

['UNITED STATES OF AMERICA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'SEYCHELLES', 'NEW CALEDONIA', 'ARGENTINA', 'FIJI', 'SOUTH AFRICA', 'BAHAMAS', 'ENGLAND', 'JAPAN', 'INDONESIA', 'EGYPT', 'JAMAICA', 'BELIZE', 'MALDIVES', 'FRENCH POLYNESIA', 'THAILAND', 'COLOMBIA', 'NEW ZEALAND', 'COSTA RICA', 'UNK', 'CANADA', 'ECUADOR', 'JORDAN', 'ST. KITTS AND NEVIS', 'ST MARTIN', 'SPAIN', 'PAPUA NEW GUINEA', 'REUNION ISLAND', 'ISRAEL', 'CHINA', 'SAMOA', 'IRELAND', 'ITALY', 'MALAYSIA', 'LIBYA', 'CUBA', 'MAURITIUS', 'SOLOMON ISLANDS', 'UNITED KINGDOW', 'COMOROS', 'UNITED KINGDOM', 'UNITED ARAB EMIRATES', 'PHILIPPINES', 'CAPE VERDE', 'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'PUERTO RICO', 'GREECE', 'ST. MARTIN', 'FRANCE', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'TAIWAN', 'PALESTINE', 'GUAM', 'NIGERIA', 'TONGA', 'SCOTLAND', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA', 'RUSSIA', 'AZORES', 'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA', 'SOMALIA', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL', 'YEMEN', 'SIERRA LEONE', 'LIBERIA', 'VANUATU', 'HONDURAS', 'VENEZUELA', 'SRI LANKA', 'URUGUAY', 'INDIA', 'MICRONESIA', 'OKINAWA', 'TANZANIA', 'MARSHALL ISLANDS', 'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO', 'IRAN', 'TUNISIA', 'NAMIBIA', 'PORTUGAL', 'BANGLADESH', 'PALAU', 'UNITED KINGDOWM', 'GRENADA', 'IRAQ', 'TURKEY', 'SINGAPORE', 'SUDAN', 'PAPUA NEW GUINE', 'NICARAGUA', 'GABON', 'MARTINIQUE', 'GUATEMALA', 'NETHERLANDS', 'JAVA', ' PHILIPPINES', 'SLOVENIA', 'CURACAO', 'ICELAND', 'BARBADOS', 'MONACO', 'GUYANA', 'HAITI', 'KUWAIT', 'YEMEN ', 'CYPRUS', 'EGYPT ', 'BURMA', 'LEBANON', 'PARAGUAY', 'CEYLON', 'GEORGIA', 'SYRIA', 'TUVALU', 'COOK ISLANDS', 'TOBAGO', 'PERU', 'AFRICA', 'ALGERIA', 'TASMANIA', 'GHANA', 'GREENLAND', 'SWEDEN', 'ROATAN', 'DJIBOUTI', 'BAHREIN', 'KOREA']

In [73]:
shark_attacks['Country'].value_counts(True) * 100

UNITED STATES OF AMERICA    36.520468
AUSTRALIA                   21.345029
SOUTH AFRICA                 8.684211
UNK                          2.324561
PAPUA NEW GUINEA             2.192982
                              ...
 PHILIPPINES                 0.014620
SLOVENIA                     0.014620
CURACAO                      0.014620
MONACO                       0.014620
KOREA                        0.014620
Name: Country, Length: 148, dtype: float64